<!DOCTYPE html>
<html>
<head>
	<title>Layout pada html</title>
</head>
<body>
<table border="1" width="900" align="center" bordercolor="gren">
		<tr>
			<td bgcolor="cyan" colspan="2" height="100" valign="bottom">
			<h1 align="center"><font color="FFFAFA">SISTEM INFORMASI</font></h1>
			<table border="1" bordercolor="gren" align="center"
		<tr bgcolor="cyan">
			<td width="150" align="center"><a href="home">Home</a></td>
			<td width="150" align="center"><a href="profil">Profil</a></td>
			<td width="150" align="center"><a href="tentang">Tentang</a></td>
		</tr>
</table>
</td>
</tr>
<tr>
	<td height="400" width="600" bgcolor="cyan">
		<p><img src="SI.png" style="float: left;"><h1 align="center">SISTEM INFORMASI</h1></p>
		<h4 align="center">Sistem Informasi adalah kombinasi dari manusia, fasilitas atau alat teknologi, media, prosedur dan pengendalian yang bermaksud menata jaringan komunikasi yang penting, proses atas transaksi-transaksi tertentu dan rutin, membantu manajemen dan pemakai intern dan ekstern dan menyediakan dasar pengambilan keputusan yang tepat.</h4>

		<p><img src="laptop.png" width="200" height="400" style="float: right;"><h1 align="cebter">LAPANGAN PEKERJAAN</h1></p>
		<h4 align="center"> Lapangan pekerjaan yang dapat kita lakukan sebagai ERP Consultant, Database Administrator,Software Developer, Network Administrator, dan maih banyak lagi.</h4>
	<td width="220" bgcolor="olive" align="center" valign="top"><a href=""><h2>KONSULTASI</h2></a>
		<p><a href="">IG:@dimaspnduu</a></p>
		<p><a href="">FB:@Dimas Pandu</a></p>
		<p><a href="">WA:089697761416</a></p>

		<p>Sistem Informasi Jaya Selalu</p>
</td>
</tr>
		<td colspan="2" height="50" bgcolor="black">

			<footer align="center"><font color="white">Dimas assololey |COPYright2020<font></footer>
	
</body>
</html>